# Exclude OSX files
.DS_Store

# Exclude Emacs files
*~

# Exclude virtualenvs
venv*
.python-version

# Exclude dist files
*.egg-info

# Exclude Python files
*.pyc
*__pycache__*

# Exclude test files
tests/examples
tests/test_output
skipped.fas
.ncfp_cache
test.log
cover/
example_output/

# Exclude local VS Code settings
.vscode/

# Exclude unneeded documentation files
docs/_build/
htmlcov/
.coverage
.coverage.*
classes_ncbi_cds_from_protein.pdf
packages_ncbi_cds_from_protein.pdf

# Exclude distribution files
dist/
build/
*.egg-info
_build/
